
header {
    position: relative;
    overflow: hidden;
} 
header:after, .container:after, footer:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
} 
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    padding: 20px;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}
p {
    
}
.myhouse {
    display: block;
}
a.myhouse {
    text-decoration: none;
    outline: none;
    font-style: oblique;
    font-size: 25px;
}
.myhouse span {
    padding-left: 20px;
    color: red;
} 
.myhouse p { 
    font-size: 13px; 
    line-height: 3.5mm;
    color: gray;
    padding-left: 20px;
}
#searchform {
    float: right;
    display: inline-block;
    position: relative;
    background-position: bottom;
}
#searchform input {
    width: 170px;
    float: left;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    overflow: hidden;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
}
#searchform button {
    height: 30px;
    width: 60px;
    border: solid 1px;
    border-radius: 5px;
    position: absolute;
    color: #EF5A42;
    cursor: pointer;
}
#searchform input:focus {
    outline: 2px solid #EBEBE3;
}
form {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
blockquote {
    margin: 0;
    background: none;
    padding: 40px;
    color: #3F484D;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
blockquote:before, blockquote:after {
    font-size: 45px;
    color: #7339ba;
    position: absolute;
    height: 2px;
    left: 10px;
    right: 10px;
    line-height: .5;
    background: linear-gradient(to right, #7339ba 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #7339ba 55%);
    font-family: serif;
}
blockquote:before {
    content: "\201C";
    top: 30px;
}
blockquote:after {
    content: "\201D";
    bottom: 30px;
}
blockquote p {
    font-size: 15px;
}
blockquote footer {
    margin-bottom: 1em;
}
blockquote cite {
    font-style: normal;
}
video {
    max-width: 100%;
    background-position: center;
}
iframe {
    max-width: 100%;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
} 
.info {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    background-color: #E6E6FA;
}
nav {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(255,255,255,1) 2%, rgba(229,229,229,1) 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(229,229,229,1) 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 2%,rgba(229,229,229,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 2px 0 0 #ECF1F2;
    border-top: 1px solid #ECF1F2;
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li {
    display: inline-block;
    position: relative;
    margin-right: -4px;
}
.topmenu>li:hover {
    background-color: #F2F2F9;
    border-radius: 10px;
}
.topmenu > li > a {
    font-weight: bold;
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1c1c1c;
}
.active:after, .submenu-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
}
.topmenu .active, .topmenu > li > a:hover, .submenu li a:hover {color: #ddbe86;}
.submenu {
    position: absolute;
    left: -1px;
    z-index: 5;
    width: 240px;
    border-bottom: 1px solid #ECF1F2;
    visibility: hidden;
    opacity: 0;  
    transform: translateY(10px);
    transition: .3s ease-in-out;
    background: #ccf;
    box-shadow: inset 0 0 8px #fff;
}
.submenu li {
    position: relative;
}
.submenu a {
    background: white;
    border-top: 1px solid #ECF1F2;
    border-right: 1px solid #ECF1F2;
    border-left: 1px solid #ECF1F2;
    color: #1c1c1c;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
}
nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.info>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
}
.info>div>a.nubex {
    color: black;
    text-decoration: none;
    text-align: center;
    outline: none;
    background-color: #7fffd4;
    padding: 0.5em 2em;
    border-radius: 10px;
    width: 130px;
}
.info>div>a.nubex:active {
    background-color: #ff4500;
}
.info>div>a.nubex:hover {
    background-color: #DDA0DD;
}
.info>div:nth-child(3) {
    display: flex;
    position: relative;
}
div.item {
    max-width: 100%;
}
 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs-two{
    overflow: hidden;
    width: 100%;
    background-color: gray;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
 }
 
#breadcrumbs-two li{
    float: left;
    margin: 0 .5em 0 1em;
 }
 
#breadcrumbs-two a{
 background: #ddd;
 padding: .2em 0.5em;
 float: left;
 text-decoration: none;
 color: #444;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 position: relative;
 }
 
#breadcrumbs-two a:hover{
 background: #99db76;
 }
 
#breadcrumbs-two a::before{
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1em;
 border-width: 1em 0 1em;
 border-style: solid;
 border-color: #ddd #ddd #ddd transparent;
 left: -1em;
 }
 
#breadcrumbs-two a:hover::before{
 border-color: #99db76 #99db76 #99db76 transparent;
 }
 
#breadcrumbs-two a::after{
 content: "";
 position: absolute;
 top: 50%;
 margin-top: -1em;
 border-top: 1em solid transparent;
 border-bottom: 1em solid transparent;
 border-left: 1em solid #ddd;
 right: -1em;
 }
 
#breadcrumbs-two a:hover::after{
 border-left-color: #99db76;
 }
 
#breadcrumbs-two .current,
 #breadcrumbs-two .current:hover{
 font-weight: bold;
 background: none;
 }
 
#breadcrumbs-two .current::after,
 #breadcrumbs-two .current::before{
 content: normal;
 }

.content {
   margin-top: 40px;
}
#content {
width:100%;
margin:100px auto 0;
}
.slider {
float:left;
width:100%;
height: 100%;
max-width:500px;
max-height: 300px;
position:relative;
padding-bottom:26px;
background:url(../gfx/bottom_shadow.png) no-repeat bottom center;
}

.sliderContent {
float:left;
width:100%;
height:300px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(../gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:100%;
height:100%;
background:#fff;
}

.sliderBullets {
position:absolute;
bottom:0;
left:50%;
z-index:50;
margin-left:-45px;
}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}
.sliderContent .item>img {
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
}
div.img.right{
float:right;
margin:5px 0 5px 15px;
max-height: 320vw;
max-width: 320vw;
transition: all 0.3s linear 0s;
z-index: 1;
border: 1px solid auto;
background: #FFFFFF;
padding: 5px;
}
div.img.right:hover{
transform:scale(2) translate(-88px, 30px);
transition: all 0.3s linear 0.3s;
cursor:pointer;
box-shadow: 0 0 5px 5px #eee;
border: 1px solid auto;
z-index: 10;
}

#gall {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}
#gall img {
  position: absolute;
  top: 25%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .5s;
}
#gall img:nth-child(4n-2) {left: 37.5%;}
#gall img:nth-child(4n-1) {left: 62.5%;}
#gall img:nth-child(4n) {left: 87.5%;}
#gall img:nth-child(n+5) {top: 75%;}

#gall img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}
#gall img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  cursor: zoom-out;
}
footer {
padding: 30px 0;
background: #3C3D41;
color: white;
}
.footer-col {
width: 33.3333333333%;
float: left;
}
.footer-col a {
color: white;
}
.footer-col:last-child {
text-align: right;
}
.social-bar-wrap {
text-align: center;
}
.social-bar-wrap a {
padding: 0 7px;
font-size: 18px;
}
@media (max-width: 768px) {
.nav-toggle {
display: block;
}
header {
padding: 10px 0;
}
#menu {
max-height: 0;
background: white;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}
#menu li {
display: block;
padding-left: 15px;
border-bottom: 1px solid #EBEBE3;
margin-right: 0;
}
.posts-list, aside {
width: 100%;
float: none;
}
.widget-post-title {
font-size: 1.5em;
}
}
@media (max-width: 480px) {
nav {
text-align: center;
}
.myhouse {
float: none;
margin-bottom: 15px;
}
#menu {
top: 118px;
}
#searchform {
float: left;
margin-left: 0;
}
.post-footer {
border-top: none;
border-bottom: none;
text-align: center;
}
.post-social {
position: static;
text-align: center;
transform: none;
margin-top: 20px;
}
.widget-post-title {
font-size: 1.2em;
}
.footer-col {
float: none;
margin-bottom: 20px;
width: 100%;
text-align: center;
}
.footer-col:last-child {
text-align: center;
margin-bottom: 0;
}
@media (max-width: 600px) {
  body {padding: 0;}
  .submenu .submenu {top: calc(100% - 1px);
    top: -webkit-calc(100% - 1px);}

