header {
    position: relative;
    overflow: hidden;
} 
header:after, .container:after, footer:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
} 
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    padding: 20px;
    margin: 0;
}
.myhouse {
    display: block;
}
a.myhouse {
    text-decoration: none;
    outline: none;
    font-style: oblique;
    font-size: 25px;
}
.myhouse span {
    padding-left: 20px;
    color: red;
    font-family: italic;
    width: 30px;
} 
.myhouse p { 
    font-size: 13px; 
    line-height: 3.5mm;
    color: black;
    padding-left: 20px;
}
#searchform {
    float: right;
    display: inline-block;
    position: relative;
    background-position: bottom;
}
#searchform input {
    width: 170px;
    float: left;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    overflow: hidden;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
}
#searchform button {
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 5px;
    position: absolute;
    color: #EF5A42;
    cursor: pointer;
}
#searchform input:focus {
    outline: 2px solid #EBEBE3;
}
#menu-checkbox {
    display: none;
}
.main-menu {
    display: none;
    padding: 0;
    margin: 0;
}
.main-menu li {
    font-size: 1em;
    display: block;
    width: 100%;
    text-align: center;
}
.main-menu a {
    display: block;
    border-bottom: 1px solid blueviolet;
    color: black;
    padding: .5em;
    text-decoration: none;
}
.main-menu a:hover {
    text-decoration: underline;
}
.toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}
.toggle-button:after {
    content: attr(data-open);
    display: block;
    margin: 10px 0;
    padding: 10px 30px;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
    display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close);
}
form {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
blockquote {
    margin: 0;
    background: none;
    padding: 30px;
    color: #3F484D;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
blockquote:before, blockquote:after {
    font-size: 45px;
    color: #7339ba;
    position: absolute;
    height: 2px;
    left: 10px;
    right: 10px;
    line-height: .5;
    background: linear-gradient(to right, #7339ba 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #7339ba 55%);
    font-family: serif;
}
blockquote:before {
    content: "\201C";
    top: 30px;
}
blockquote:after {
    content: "\201D";
    bottom: 30px;
}
blockquote p {
    font-size: 15px;
}
blockquote footer {
    margin-bottom: 1em;
}
blockquote cite {
    font-style: normal;
}
iframe {
    max-width: 100%;
}
#content {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}
.slider {
    float:left;
    width:100%;
    height: 100%;
    max-width:500px;
    max-height: 300px;
    position:relative;
    padding-bottom:26px;
    background:url(../gfx/bottom_shadow.png) no-repeat bottom center;
}
.sliderContent {
    float:left;
    width:100%;
    height:300px;
    clear:both;
    position:relative;
    overflow:hidden;
}
.sliderArrows a {
    display:block;
    text-indent:-9999px;
    outline:none;
    z-index:50;
    background-image:url(../gfx/prev_next.png);
    width:42px;
    height:42px;
    position:absolute;
    top:50%;
    margin-top:-34px;
}
.prev {
    background-position:0 0;
    left:15px;
}
.prev:hover {
    background-position:0 -44px;
}
.next {
    right:15px;
    background-position:-44px 0;
}
.next:hover {
    background-position:-44px -44px;
}
.sliderContent .item {
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
}
.sliderBullets {
    position:absolute;
    bottom:0;
    left:50%;
    z-index:50;
    margin-left:-45px;
}
.sliderBullets a {
    display:block;
    float:left;
    text-indent:-9999px;
    outline:none;
    margin-left:5px;
    width:10px;
    height:11px;
    background:url(../gfx/bullets.png) no-repeat;
}
.sliderBullets .active {
    background-position:0 -11px;
}
.sliderContent a {
    outline:none;
}
.sliderContent .item>img {
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
div.img.right{
    float:right;
    margin:5px 0 5px 15px;
    max-height: 320vw;
    max-width: 320vw;
    transition: all 0.3s linear 0s;
    z-index: 1;
    border: 1px solid auto;
    background: #FFFFFF;
    padding: 5px;
}
div.img.right:hover{
    transform:scale(2) translate(-88px, 30px);
    transition: all 0.3s linear 0.3s;
    cursor:pointer;
    box-shadow: 0 0 5px 5px #eee;
    border: 1px solid auto;
    z-index: 10;
}
footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
}
.footer-col {
    width: 33.3333333333%;
    float: left;
}
.footer-col a {
    color: white;
}
.footer-col:last-child {
    text-align: right;
}
.social-bar-wrap {
    text-align: center;
}
.social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
}
.form-row {
    display: block;
	margin-bottom: 8px;
	overflow: hidden;
	font-family:arial;
	font-size:10pt;
}
.form-row input {
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0px;
	padding: 0px 5px;
	width: 287px;
	border: 1px solid #ABADB3;
}
.reg-form {
	width: 416px;
	margin: 0 auto;
}
.form-row textarea {
	height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px 5px;
    width: 404px;
    border: 1px solid #ABADB3;
}
.form-row input[type=submit] {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}
.form-row input[type=submit]:hover {
	background:#286090;
}
@media screen and (min-width: 768px) {
    .toggle-button {
    display: none;
    }
    .main-menu {
    display: block;
    margin: 0 auto;
    background-color: #333;
    height: 30px;
    }
    .main-menu li {
    width: calc(100% / 7);
    text-align: center;
    display: inline-block;
    margin-right: -4px;
    }
    .main-menu a {
    display: inline-block;
    margin-right: -4px;
    background-color: #333;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    border-bottom: 0;
    }
  }
@media screen and (max-width: 768px) {
    body {
    padding: 0;
    } 
    div.img.right:hover {
    transform: none;
    }
    .form-row {
        display: none;
    }
}  
  




